.cg-counter {
    display: flex;
    align-items: center;
}

.cg-counter-minus,
.cg-counter-plus {
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 32px;
    line-height: 100%;
    font-weight: 700;
    color: #7296df;
    transition: color 0.3s;
}

.cg-counter-minus:hover,
.cg-counter-plus:hover {
    color: #3158c7;
}

.cg-counter-minus {
    margin-right: 10px;
}

.cg-counter-plus {
    margin-left: 10px;
}

.cg-counter-input {
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    font-size: 28px;
    font-weight: 700;
    border: none;
    outline: none;
    color: #fff;
    background-color: #3158c7;
}
